---
import Layout from "src/layouts/Layout.astro";
import Galery from "@components/Galery.astro";
---

<Layout title="Athomik Nails - Galeria">
    <main class="text-athomik-white flex flex-col mt-20 w-dvw">
        <div class=" flex justify-around pb-5 w-dvw">
            <a
                href="/"
                class="place-self-center border p-2 rounded-full border-athomik-white"
                >Volver
            </a>
            <h1 class="text-4xl lg:text-7xl xl:text-8xl text-athomik-pink">
                Galeria de Fotos
            </h1>
            <div></div>
        </div>
            <Galery/>
    </main>
</Layout>

<style>
    h1 {
        font-family: "Great Vibes", cursive;
    }
</style>