---
import Layout from "src/layouts/Layout.astro";
import Galery from "@components/Galery.astro";
---

<Layout title="Athomik Nails - Galeria">
    <main class="text-athomik-white flex flex-col items-center mt-20">
        <div class="w-dvw flex justify-around pb-5">
            <a
                href="/"
                class="place-self-center border p-2 rounded-full border-athomik-white"
                >Volver
            </a>
            <h1 class="text-4xl lg:text-7xl xl:text-8xl text-athomik-pink">
                Galeria de Fotos
            </h1>
            <div></div>
        </div>
            <Galery/>
    </main>
</Layout>
