---
import "photoswipe/style.css";
import { Image } from "astro:assets";
---

<div
    class="  grid [grid-template-columns:repeat(auto-fit,minmax(200px,1fr))] gap-6 place-items-center justify-center my-8" 
    id="gallery--getting-started"
>
    {
        Array.from({ length: 4 }).map((_, i) => (
            <a
                href={`/galeria/min-photo-${i + 1}.jpg`}
                target="_blank"
                data-pswp-width="1669"
                data-pswp-height="2500"
                class="w-5/6"
            >
                <Image
                    src={`/galeria/min-photo-${i + 1}.jpg`}
                    alt="foto de uñas"
                    class="  border border-athomik-pink rounded-md"
                    width="400"
                    height="400"
                />
            </a>
        ))
    }
</div>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";

    const lightbox = new PhotoSwipeLightbox({
        gallery: " #gallery--getting-started",
        bgOpacity: 0.6,
        children: "a",
        showHideAnimationType: "fade",
        pswpModule: () => import("photoswipe"),
    });
    lightbox.init();
</script>
