---
import WhatsAppIcon from "@components/icons/WhatsAppIcon.astro"
import InstagramIcon from "@components/icons/InstagramIcon.astro"
---

<header class="w-full h-12 top-0 absolute">
    <nav
        class="bg-transparent w-full backdrop-blur-sm border-b border-athomik-white shadow-lg"
    >
        <div class="flex items-center justify-center h-12 w-full text-athomik-white px-4">
            <ul class="flex gap-4">
                <li>
                    |
                </li>
                <li>
                    <a href="Https://api.whatsapp.com/send?phone=541139064966" class="flex gap-2 items-center" target="_blank">
                        <i><WhatsAppIcon /></i>
                        <span>1139064966</span>
                    </a>
                </li>
                <li>
                    |
                </li>
                <li>
                    <a href="https://www.instagram.com/athomik.nails/" class="flex gap-2 items-center" target="_blank">
                        <i><InstagramIcon /></i>
                        <span>@AthomikNails</span>
                    </a>
                </li>
                <li>
                    |
                </li>
            </ul>
        </div>
    </nav>
</header>
